<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96252869794-e0fph9jfkhsuvcpm2v8e0vi7uvlfqj77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96252869794-e0fph9jfkhsuvcpm2v8e0vi7uvlfqj77</string>
	<key>API_KEY</key>
	<string>AIzaSyBiirJU3_d_RebgLJj5GVim039XFPrnjsI</string>
	<key>GCM_SENDER_ID</key>
	<string>96252869794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stellarflavor.faceDetection</string>
	<key>PROJECT_ID</key>
	<string>face-detection-1f33b</string>
	<key>STORAGE_BUCKET</key>
	<string>face-detection-1f33b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96252869794:ios:b549f478c87836e3996bfb</string>
</dict>
</plist>