<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043372528588-eo5f8errihjm1o2qrib44fadna7p5ohn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043372528588-eo5f8errihjm1o2qrib44fadna7p5ohn</string>
	<key>API_KEY</key>
	<string>AIzaSyBG1q-GlY8v4TSTDvV2QbBTx2_v9pLg6kc</string>
	<key>GCM_SENDER_ID</key>
	<string>1043372528588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlflutter.facedetectionfirebase</string>
	<key>PROJECT_ID</key>
	<string>face-detection-firebase-86878</string>
	<key>STORAGE_BUCKET</key>
	<string>face-detection-firebase-86878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043372528588:ios:cd339c60cdf97c6f094369</string>
</dict>
</plist>